<p id="notice"><%= notice %></p>

<p>
  <strong>Source document:</strong>
  <%= @listing_index.source_document %>
</p>

<%= link_to 'Edit', edit_listing_index_path(@listing_index) %> |
<%= link_to 'Back', listing_indices_path %>
